name: Build and Push Docker Image

on:
  push:
    branches:
      - main   # Trigger when pushing to main branch
  pull_request:
    branches:
      - main   # Also trigger on PRs to main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Java 21
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      # Step 3: Build the Spring Boot project with Maven
        #- name: Build with Maven
        #run: mvn clean package -DskipTests

      # Step 4: Log in to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 5: Build Docker image
      - name: Build Docker image
        run: docker build -t musfikhilaly/jensen-social-media:latest .

      # Step 6: Push Docker image to Docker Hub
      - name: Push Docker image
        run: docker push musfikhilaly/jensen-social-media:latest
